.flex {
    display: flex;
}
.tag-li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin-top: 50px;
    padding:30px 0px;
    background-color: #333;
}

.countdown span {
    text-align: center;
    padding-right: 5px;
}
.countdown li {
    margin: 0 7px;
    width: 86px;
    height: 77px;
    background-color: #000;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
.s1-box-form {
    background-color: #fff;
    border-radius: 12px
}